@import "milligram";

body {
  margin: 0;
  padding: 0;
  background-color: #dfdfdf;
}

#app {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  font-weight: normal;
  min-height: 100vh;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
