@import "milligram";

body {
  margin: 0;
  padding: 0;
  background-color: #dfdfdf;
  font-size: 13px;
}

#app {
  max-width: 480px;
  margin: 0 auto 0 0;
  padding: 30px;
  font-weight: normal;
  min-height: 100vh;
  background-color: #fff;
  border-right: 1px solid #ddd;
}
